div>div{
    background-color: palevioletred;
    padding: 5px;
    margin: 3px;
    border: solid 2px rgb(199, 41, 94);
    border-radius: 4px;
    height: 65px;
    color: white;
    text-align: center;
    display: flex; /*flexbox pour le centrage*/
    justify-content: center; /*c.horizontal */
    align-items: center; /* c.vertical */
}
.grid-un, .grid-deux, .grid-trois, .grid-quatre, .grid-cinq {
    display: grid;
    align-items: center; 
}

.grid-un {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-deux {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-trois {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-quatre {
    grid-template-columns: 1fr 1fr;
}
.grid-cinq {
    grid-template-columns: 1fr;
}

