table{
    border: 5px solid rgb(177, 176, 176) ;
    background:  rgb(177, 176, 176);
}

.a{
    background-color: red;
}
.b{
    background-color: grey;
}
tfoot{
    text-align: center;
}
tbody{
    width: 200px;
    height: 150px;
}
#z{
    
    vertical-align: middle;
}
#e{
   
    vertical-align: text-bottom;
}
#r{
   
    vertical-align: sub;
}
#t{
    vertical-align: middle; 
}